@import url("https://fonts.googleapis.com/css?family=Quicksand:500,600&display=swap");@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}


/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #01083a;
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 91.875rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap */
.tabs__navigation {
  display: flex;
  gap: 0.3125rem;
  margin-bottom: 1.25rem;
  justify-content: space-between;
  overflow-x: hidden;
}
.tabs__title {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.tabs__title {
  line-height: 1.1;
  padding: 0.3125rem 0.625rem;
  white-space: nowrap;
  border-bottom: 0.125rem solid transparent;
  transition: all 0.3s;
}
.tabs__title.--tab-active {
  color: #233294;
  border-color: #303033;
}
.tabs__body {
  display: none;
}
.tabs__body:not([hidden]) {
  display: flex;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-spollers] summary {
  list-style: none;
}
[data-fls-spollers] summary::marker, [data-fls-spollers] summary::-webkit-details-marker {
  display: none;
}

.spollers {
  display: grid;
  gap: 0.9375rem;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 0.0625rem solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  list-style: none;
}
.spollers__title::marker, .spollers__title::-webkit-details-marker {
  display: none;
}
.--spoller-init .spollers__title {
  cursor: pointer;
}
.--spoller-init .spollers__title::before, .--spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0.625rem;
  top: 50%;
  background-color: #000;
  height: 0.125rem;
  width: 0.9375rem;
  transition: transform 0.5s ease 0s;
}
.--spoller-init .spollers__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
.--spoller-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::after {
  transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #eee;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  position: fixed;
  top: 0;
  width: 100%;
}
.header__container {
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-header-scroll] {
  transition: background-color 0.8s ease-in-out;
}
[data-fls-header-scroll].--header-scroll {
  position: fixed;
  background-color: rgba(60, 63, 86, 0.7882352941);
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
}

[data-fls-header-scroll-show].--header-scroll {
  transition: translate 0.3s;
  translate: 0rem -100%;
}
[data-fls-header-scroll-show].--header-show {
  translate: 0 0;
}/* Generated by vite-plugin-svg-spritemap */
.footer {
  position: relative;
}
.footer__container {
  position: relative;
}
.footer__body {
  position: relative;
  z-index: 15;
}
.body-footer {
  border-bottom: 0.0625rem solid #303033;
}
.body-footer__picture {
  margin-bottom: 1.25rem;
}
.body-footer__item p {
  line-height: 1.3;
}
.body-footer__content {
  position: relative;
  z-index: 2;
  flex: 1 1 55%;
}
.body-footer__menus {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
}
.body-footer__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.1;
  text-transform: uppercase;
}
.--spoller-init .body-footer__title {
  display: flex;
  align-items: center;
  gap: 0.0625rem;
}
.--spoller-init .body-footer__title::after {
  content: "";
  mask: url("../assets/img/footer/svgicons/arrow-dawn.svg") center no-repeat;
  width: 1.125rem;
  height: 0.75rem;
  background-color: #0a0707;
  transition: rotate 0.3s;
}
.--spoller-active .body-footer__title::after {
  rotate: 180deg;
}
.body-footer__link {
  font-size: 1rem;
  line-height: 1.6;
  transition: color 0.5s;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.body-footer__link::after {
  background-color: #1814a4;
  bottom: 25%;
  content: "";
  height: 0.0625rem;
  left: 50%;
  position: absolute;
  transition: width 0.5s, left 0.5s;
  width: 0;
}

.socials-footer {
  display: flex;
  gap: 1.25rem;
}
.socials-footer__item {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: all 0.3s;
}
.bottom-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-footer h5 {
  font-size: 1rem;
}
.bottom-footer__link {
  padding-right: 1.25rem;
  transition: all 0.3s;
}
.bottom-footer__link:hover {
  color: #1814a4;
}/* Generated by vite-plugin-svg-spritemap */
.button {
  display: inline-flex;
  padding: 0.4375rem 1.875rem;
  background-color: #ffffff;
  border: 0.0625rem solid #233294;
  color: #01083a;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 2.6;
  text-transform: uppercase;
  transition: all 0.3s;
}
.button--fw {
  width: 100%;
}

.button--dark {
  background-color: #233294;
  color: #ffffff;
  transition: all 0.3s;
}
.button--dark:hover {
  background-color: #ffffff !important;
  color: #233294 !important;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */

.hero {
  background-color: #233294 !important;
  background-image: url("../assets/img/hero/background.svg");
  background-size: 40% 90%;
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
.hero__container {
  color: #233294;
}
.hero__content {
  display: flex;
}
.hero__body {
  flex: 0 1 57%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  color: #ffffff;
}
.hero__text {
  padding-right: 1.875rem;
  line-height: 1.63;
  font-weight: 500;
}
.hero__text p:not(:last-child) {
  margin-bottom: 0.5rem;
}
.title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
.title {
  line-height: 1.3;
  text-transform: uppercase;
}

.benefits-hero__items {
  display: flex;
  gap: 0.625rem;
}
.item-hero__value {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
.item-hero__value {
  line-height: 1.3;
  text-transform: uppercase;
}
.item-hero__title {
  font-weight: 600;
  line-height: 1.5;
}
.services__title {
  margin-bottom: 2.5rem;
}
.body-tabs__image {
  flex: 0 1 65%;
}
.body-tabs__image img {
  display: inline-block;
  max-width: 100%;
  aspect-ratio: 1050/615;
}
.body-tabs__text {
  background-color: #233294;
  color: #ffffff;
  flex: 1 1 45%;
  padding: 2.5rem;
}
.body-tabs__text {
  line-height: 1.5;
}
.body-tabs__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}
.stories__title-block {
  display: flex;
}
.stories__title {
  flex: 0 1 50%;
}
.stories__text {
  flex: 0 1 50%;
  line-height: 1.6;
}
.stories__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  align-items: start;
  grid-template-rows: auto;
}
.stories__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  width: fit-content;
  margin: 0 auto;
}

.item-stories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}
.item-stories__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 1.25rem;
}
.item-stories__text {
  line-height: 1.6;
}

.industries {
  background-color: #233294;
  color: #ffffff;
}
.industries__title {
  text-align: center;
}
.industries__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
.item-industries {
  display: flex;
  gap: 2.5rem;
  align-items: start;
}
.item-industries__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-industries__icon img {
  flex: 0 0 5rem;
  width: 5rem;
}
.item-industries__title {
  line-height: 1.4;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.625rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}
.item-industries__list {
  list-style: disc;
}
.item-industries__list-item {
  line-height: 1.6;
}

.actions {
  background-color: #e5e8ff;
}
.actions__title {
  max-width: 38.75rem;
  font-size: 1.625rem;
  line-height: 1.2;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
@media (max-width: 80em){
  .tabs__navigation {
    flex-wrap: wrap;
  }
}
@media (max-width: 59.375em){
  .tabs__body:not([hidden]) {
    flex-direction: column;
  }
}
@media (max-width: 56.25em){
  .bottom-footer {
    flex-wrap: wrap;
    gap: 0.9375rem;
  }
}
@media (max-width: 49.375em){
  .stories__items {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 47.99875em){
  .hero {
    background-image: none;
  }
  .hero__body {
    flex: 0 1 100%;
  }
  .item-hero__title {
    font-size: 1rem;
  }
  .industries__grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 31.25em){
  .socials-footer {
    margin-top: 0rem;
    gap: 3.75rem;
  }
}
@media (max-width: 29.99875em){
  .tabs__navigation {
    justify-content: center;
  }
  .header__container {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .header__logo {
    width: 7.5rem;
    height: auto;
    aspect-ratio: 1.5/1;
  }
  .header__button {
    padding: 0.4375rem 1.875rem !important;
  }
  .bottom-footer__links {
    font-size: 1rem;
  }
  .services__title {
    text-align: center;
    margin-bottom: 1.25rem;
  }
  .body-tabs__text {
    padding: 1.25rem;
    line-height: 1.4;
  }
  .stories__title-block {
    flex-direction: column;
  }
  .item-industries {
    flex-direction: column;
    align-items: center;
  }
  .item-industries__icon {
    display: none;
  }
  .item-industries__title {
    text-align: center;
  }
  .item-industries__list {
    padding-left: 0.9375rem;
  }
  .actions__title {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 26.25em){
  .button {
    padding: 0.4375rem 0.625rem;
    font-size: 0.8125rem;
  }
}
@media (width <= 20em){
  .tabs__title {
    font-size: 1rem;
  }
  .tabs__body:not([hidden]) {
    gap: 0.9375rem;
  }
  .header__container {
    padding-left: 0.9375rem;
  }
  .header__container {
    padding-right: 0.9375rem;
  }
  .footer {
    padding-top: 1.875rem;
  }
  .footer {
    padding-bottom: 1.875rem;
  }
  .footer__container {
    padding-left: 0.9375rem;
  }
  .footer__container {
    padding-right: 0.9375rem;
  }
  .body-footer {
    padding-bottom: 1.25rem;
  }
  .body-footer__menus {
    row-gap: 1.25rem;
  }
  .body-footer__title {
    margin-bottom: 6.25e-8rem;
  }
  .bottom-footer {
    padding-top: 1.25rem;
  }
  .page__hero {
    padding-top: 6.875rem;
  }
  .page__hero {
    padding-bottom: 1.875rem;
  }
  .page__services {
    padding-top: 1.875rem;
  }
  .page__stories {
    padding-top: 1.875rem;
  }
  .page__stories {
    padding-bottom: 1.875rem;
  }
  .page__industries {
    padding-top: 1.875rem;
  }
  .page__industries {
    padding-bottom: 1.875rem;
  }
  .page__actions {
    padding-top: 1.875rem;
  }
  .page__actions {
    padding-bottom: 1.875rem;
  }
  .hero__content {
    padding-left: 6.25e-8rem;
  }
  .title {
    font-size: 1.875rem;
  }
  .item-hero__value {
    font-size: 1.6875rem;
  }
  .services__container {
    padding-left: 0.9375rem;
  }
  .body-tabs__text {
    font-size: 0.875rem;
  }
  .stories__container {
    padding-left: 0.9375rem;
  }
  .stories__title-block {
    gap: 0.625rem;
  }
  .stories__title-block {
    margin-bottom: 1.875rem;
  }
  .stories__items {
    padding-bottom: 1.875rem;
  }
  .industries__container {
    padding-left: 0.9375rem;
  }
  .industries__title {
    margin-bottom: 1.25rem;
  }
  .actions__container {
    padding-left: 0.9375rem;
  }
}
@media (width > 20em) and (width <= 91.875em){
  .tabs__title {
    font-size: clamp( 1rem , 0.8956521739125rem  +  0.5217391304vw , 1.375rem );
  }
  .tabs__body:not([hidden]) {
    gap: clamp( 0.9375rem , 0.67663043478125rem  +  1.3043478261vw , 1.875rem );
  }
  .header__container {
    padding-left: clamp( 0.9375rem , -1.1494565217375rem  +  10.4347826087vw , 8.4375rem );
  }
  .header__container {
    padding-right: clamp( 0.9375rem , -1.1494565217375rem  +  10.4347826087vw , 8.4375rem );
  }
  .footer {
    padding-top: clamp( 1.875rem , 1.1793478260875rem  +  3.4782608696vw , 4.375rem );
  }
  .footer {
    padding-bottom: clamp( 1.875rem , 1.1793478260875rem  +  3.4782608696vw , 4.375rem );
  }
  .footer__container {
    padding-left: clamp( 0.9375rem , -0.88858695651875rem  +  9.1304347826vw , 7.5rem );
  }
  .footer__container {
    padding-right: clamp( 0.9375rem , -0.5407608695625rem  +  7.3913043478vw , 6.25rem );
  }
  .body-footer {
    padding-bottom: clamp( 1.25rem , 0.90217391304375rem  +  1.7391304348vw , 2.5rem );
  }
  .body-footer__menus {
    row-gap: clamp( 1.25rem , 0.90217391304375rem  +  1.7391304348vw , 2.5rem );
  }
  .body-footer__title {
    margin-bottom: clamp( 6.25e-8rem , -0.3478260070625rem  +  1.7391303478vw , 1.25rem );
  }
  .bottom-footer {
    padding-top: clamp( 1.25rem , 0.90217391304375rem  +  1.7391304348vw , 2.5rem );
  }
  .page__hero {
    padding-top: clamp( 6.875rem , 5.30978260869375rem  +  7.8260869565vw , 12.5rem );
  }
  .page__hero {
    padding-bottom: clamp( 1.875rem , -0.55978260869375rem  +  12.1739130435vw , 10.625rem );
  }
  .page__services {
    padding-top: clamp( 1.875rem , 0.65760869565rem  +  6.0869565217vw , 6.25rem );
  }
  .page__stories {
    padding-top: clamp( 1.875rem , 0.65760869565rem  +  6.0869565217vw , 6.25rem );
  }
  .page__stories {
    padding-bottom: clamp( 1.875rem , 0.65760869565rem  +  6.0869565217vw , 6.25rem );
  }
  .page__industries {
    padding-top: clamp( 1.875rem , 0.65760869565rem  +  6.0869565217vw , 6.25rem );
  }
  .page__industries {
    padding-bottom: clamp( 1.875rem , 0.65760869565rem  +  6.0869565217vw , 6.25rem );
  }
  .page__actions {
    padding-top: clamp( 1.875rem , 0.65760869565rem  +  6.0869565217vw , 6.25rem );
  }
  .page__actions {
    padding-bottom: clamp( 1.875rem , 0.65760869565rem  +  6.0869565217vw , 6.25rem );
  }
  .hero__content {
    padding-left: clamp( 6.25e-8rem , -2.08695644185rem  +  10.4347825217vw , 7.5rem );
  }
  .title {
    font-size: clamp( 1.875rem , 1.52717391304375rem  +  1.7391304348vw , 3.125rem );
  }
  .item-hero__value {
    font-size: clamp( 1.6875rem , 1.2875rem  +  2vw , 3.125rem );
  }
  .services__container {
    padding-left: clamp( 0.9375rem , -0.88858695651875rem  +  9.1304347826vw , 7.5rem );
  }
  .body-tabs__text {
    font-size: clamp( 0.875rem , 0.73586956521875rem  +  0.6956521739vw , 1.375rem );
  }
  .stories__container {
    padding-left: clamp( 0.9375rem , -0.88858695651875rem  +  9.1304347826vw , 7.5rem );
  }
  .stories__title-block {
    gap: clamp( 0.625rem , 0.1032608695625rem  +  2.6086956522vw , 2.5rem );
  }
  .stories__title-block {
    margin-bottom: clamp( 1.875rem , 0.65760869565rem  +  6.0869565217vw , 6.25rem );
  }
  .stories__items {
    padding-bottom: clamp( 1.875rem , 0.30978260869375rem  +  7.8260869565vw , 7.5rem );
  }
  .industries__container {
    padding-left: clamp( 0.9375rem , -0.88858695651875rem  +  9.1304347826vw , 7.5rem );
  }
  .industries__title {
    margin-bottom: clamp( 1.25rem , -0.141304347825rem  +  6.9565217391vw , 6.25rem );
  }
  .actions__container {
    padding-left: clamp( 0.9375rem , -0.88858695651875rem  +  9.1304347826vw , 7.5rem );
  }
}
@media (width > 91.875em){
  .tabs__title {
    font-size: 1.375rem;
  }
  .tabs__body:not([hidden]) {
    gap: 1.875rem;
  }
  .header__container {
    padding-left: 8.4375rem;
  }
  .header__container {
    padding-right: 8.4375rem;
  }
  .footer {
    padding-top: 4.375rem;
  }
  .footer {
    padding-bottom: 4.375rem;
  }
  .footer__container {
    padding-left: 7.5rem;
  }
  .footer__container {
    padding-right: 6.25rem;
  }
  .body-footer {
    padding-bottom: 2.5rem;
  }
  .body-footer__menus {
    row-gap: 2.5rem;
  }
  .body-footer__title {
    margin-bottom: 1.25rem;
  }
  .bottom-footer {
    padding-top: 2.5rem;
  }
  .page__hero {
    padding-top: 12.5rem;
  }
  .page__hero {
    padding-bottom: 10.625rem;
  }
  .page__services {
    padding-top: 6.25rem;
  }
  .page__stories {
    padding-top: 6.25rem;
  }
  .page__stories {
    padding-bottom: 6.25rem;
  }
  .page__industries {
    padding-top: 6.25rem;
  }
  .page__industries {
    padding-bottom: 6.25rem;
  }
  .page__actions {
    padding-top: 6.25rem;
  }
  .page__actions {
    padding-bottom: 6.25rem;
  }
  .hero__content {
    padding-left: 7.5rem;
  }
  .title {
    font-size: 3.125rem;
  }
  .item-hero__value {
    font-size: 3.125rem;
  }
  .services__container {
    padding-left: 7.5rem;
  }
  .body-tabs__text {
    font-size: 1.375rem;
  }
  .stories__container {
    padding-left: 7.5rem;
  }
  .stories__title-block {
    gap: 2.5rem;
  }
  .stories__title-block {
    margin-bottom: 6.25rem;
  }
  .stories__items {
    padding-bottom: 7.5rem;
  }
  .industries__container {
    padding-left: 7.5rem;
  }
  .industries__title {
    margin-bottom: 6.25rem;
  }
  .actions__container {
    padding-left: 7.5rem;
  }
}
@media (any-hover: hover){
  .body-footer__link:hover {
    color: #1814a4;
  }
  .body-footer__link:hover::after {
    left: 0;
    width: 100%;
  }
  .socials-footer__item:hover {
    transform: scale(1.35);
  }
  .button:hover {
    background-color: #233294;
    color: #ffffff;
  }
}