@import url("https://fonts.googleapis.com/css?family=Quicksand:500,600&display=swap");@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}


/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #01083a;
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 91.875rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-title] {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
[data-fls-title] {
  line-height: 1.3;
  text-transform: uppercase;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-spollers] summary {
  list-style: none;
}
[data-fls-spollers] summary::marker, [data-fls-spollers] summary::-webkit-details-marker {
  display: none;
}

.spollers {
  display: grid;
  gap: 0.9375rem;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 0.0625rem solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  list-style: none;
}
.spollers__title::marker, .spollers__title::-webkit-details-marker {
  display: none;
}
.--spoller-init .spollers__title {
  cursor: pointer;
}
.--spoller-init .spollers__title::before, .--spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0.625rem;
  top: 50%;
  background-color: #000;
  height: 0.125rem;
  width: 0.9375rem;
  transition: transform 0.5s ease 0s;
}
.--spoller-init .spollers__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
.--spoller-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::after {
  transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #eee;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  position: fixed;
  top: 0;
  width: 100%;
}
.header__container {
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-header-scroll] {
  transition: background-color 0.8s ease-in-out;
}
[data-fls-header-scroll].--header-scroll {
  position: fixed;
  background-color: rgba(60, 63, 86, 0.7882352941);
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
}

[data-fls-header-scroll-show].--header-scroll {
  transition: translate 0.3s;
  translate: 0rem -100%;
}
[data-fls-header-scroll-show].--header-show {
  translate: 0 0;
}/* Generated by vite-plugin-svg-spritemap */
.footer {
  position: relative;
}
.footer__container {
  position: relative;
}
.footer__body {
  position: relative;
  z-index: 15;
}
.body-footer {
  border-bottom: 0.0625rem solid #303033;
}
.body-footer__picture {
  margin-bottom: 1.25rem;
}
.body-footer__item p {
  line-height: 1.3;
}
.body-footer__content {
  position: relative;
  z-index: 2;
  flex: 1 1 55%;
}
.body-footer__menus {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
}
.body-footer__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.1;
  text-transform: uppercase;
}
.--spoller-init .body-footer__title {
  display: flex;
  align-items: center;
  gap: 0.0625rem;
}
.--spoller-init .body-footer__title::after {
  content: "";
  mask: url("../assets/img/footer/svgicons/arrow-dawn.svg") center no-repeat;
  width: 1.125rem;
  height: 0.75rem;
  background-color: #0a0707;
  transition: rotate 0.3s;
}
.--spoller-active .body-footer__title::after {
  rotate: 180deg;
}
.body-footer__link {
  font-size: 1rem;
  line-height: 1.6;
  transition: color 0.5s;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.body-footer__link::after {
  background-color: #1814a4;
  bottom: 25%;
  content: "";
  height: 0.0625rem;
  left: 50%;
  position: absolute;
  transition: width 0.5s, left 0.5s;
  width: 0;
}

.socials-footer {
  display: flex;
  gap: 1.25rem;
}
.socials-footer__item {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: all 0.3s;
}
.bottom-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-footer h5 {
  font-size: 1rem;
}
.bottom-footer__link {
  padding-right: 1.25rem;
  transition: all 0.3s;
}
.bottom-footer__link:hover {
  color: #1814a4;
}/* Generated by vite-plugin-svg-spritemap */
.button {
  display: inline-flex;
  padding: 0.4375rem 1.875rem;
  background-color: #ffffff;
  border: 0.0625rem solid #233294;
  color: #01083a;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 2.6;
  text-transform: uppercase;
  transition: all 0.3s;
}
.button--fw {
  width: 100%;
}

.button--dark {
  background-color: #233294;
  color: #ffffff;
  transition: all 0.3s;
}
.button--dark:hover {
  background-color: #ffffff !important;
  color: #233294 !important;
}/* Generated by vite-plugin-svg-spritemap */@media (max-width: 56.25em){
  .bottom-footer {
    flex-wrap: wrap;
    gap: 0.9375rem;
  }
}@media (max-width: 31.25em){
  .socials-footer {
    margin-top: 0rem;
    gap: 3.75rem;
  }
}@media (max-width: 29.99875em){
  .header__container {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .header__logo {
    width: 7.5rem;
    height: auto;
    aspect-ratio: 1.5/1;
  }
  .header__button {
    padding: 0.4375rem 1.875rem !important;
  }
  .bottom-footer__links {
    font-size: 1rem;
  }
}@media (max-width: 26.25em){
  .button {
    padding: 0.4375rem 0.625rem;
    font-size: 0.8125rem;
  }
}@media (width <= 20em){
  [data-fls-title] {
    font-size: 1.875rem;
  }
  .header__container {
    padding-left: 0.9375rem;
  }
  .header__container {
    padding-right: 0.9375rem;
  }
  .footer {
    padding-top: 1.875rem;
  }
  .footer {
    padding-bottom: 1.875rem;
  }
  .footer__container {
    padding-left: 0.9375rem;
  }
  .footer__container {
    padding-right: 0.9375rem;
  }
  .body-footer {
    padding-bottom: 1.25rem;
  }
  .body-footer__menus {
    row-gap: 1.25rem;
  }
  .body-footer__title {
    margin-bottom: 6.25e-8rem;
  }
  .bottom-footer {
    padding-top: 1.25rem;
  }
}@media (width > 20em) and (width <= 91.875em){
  [data-fls-title] {
    font-size: clamp( 1.875rem , 1.52717391304375rem  +  1.7391304348vw , 3.125rem );
  }
  .header__container {
    padding-left: clamp( 0.9375rem , -1.1494565217375rem  +  10.4347826087vw , 8.4375rem );
  }
  .header__container {
    padding-right: clamp( 0.9375rem , -1.1494565217375rem  +  10.4347826087vw , 8.4375rem );
  }
  .footer {
    padding-top: clamp( 1.875rem , 1.1793478260875rem  +  3.4782608696vw , 4.375rem );
  }
  .footer {
    padding-bottom: clamp( 1.875rem , 1.1793478260875rem  +  3.4782608696vw , 4.375rem );
  }
  .footer__container {
    padding-left: clamp( 0.9375rem , -0.88858695651875rem  +  9.1304347826vw , 7.5rem );
  }
  .footer__container {
    padding-right: clamp( 0.9375rem , -0.5407608695625rem  +  7.3913043478vw , 6.25rem );
  }
  .body-footer {
    padding-bottom: clamp( 1.25rem , 0.90217391304375rem  +  1.7391304348vw , 2.5rem );
  }
  .body-footer__menus {
    row-gap: clamp( 1.25rem , 0.90217391304375rem  +  1.7391304348vw , 2.5rem );
  }
  .body-footer__title {
    margin-bottom: clamp( 6.25e-8rem , -0.3478260070625rem  +  1.7391303478vw , 1.25rem );
  }
  .bottom-footer {
    padding-top: clamp( 1.25rem , 0.90217391304375rem  +  1.7391304348vw , 2.5rem );
  }
}@media (width > 91.875em){
  [data-fls-title] {
    font-size: 3.125rem;
  }
  .header__container {
    padding-left: 8.4375rem;
  }
  .header__container {
    padding-right: 8.4375rem;
  }
  .footer {
    padding-top: 4.375rem;
  }
  .footer {
    padding-bottom: 4.375rem;
  }
  .footer__container {
    padding-left: 7.5rem;
  }
  .footer__container {
    padding-right: 6.25rem;
  }
  .body-footer {
    padding-bottom: 2.5rem;
  }
  .body-footer__menus {
    row-gap: 2.5rem;
  }
  .body-footer__title {
    margin-bottom: 1.25rem;
  }
  .bottom-footer {
    padding-top: 2.5rem;
  }
}@media (any-hover: hover){
  .body-footer__link:hover {
    color: #1814a4;
  }
  .body-footer__link:hover::after {
    left: 0;
    width: 100%;
  }
  .socials-footer__item:hover {
    transform: scale(1.35);
  }
  .button:hover {
    background-color: #233294;
    color: #ffffff;
  }
}